.apt-container {
  padding: 15px;
}

.apartments {
  background: $ul-body;
  @include flex($direction: column, $wrap: nowrap);
  @media (max-width: $tablet-breakpoint - 1) {
    @include flex(flex-start, stretch, $direction: row, $wrap: wrap);
    @include flex-grid(3, 15px);
  }
  @media (max-width: 550px) {
    @include flex-grid(2, 15px);
  }
  @media (max-width: 380px) {
    @include flex-grid(1, 0px, 15px);
    min-width: 200px;
  }
  > li {
    border: 1px solid $grey;
    @media (max-width: $tablet-breakpoint - 1) {
      @include flex(center, stretch, $wrap: wrap);
      padding: 15px;
      > * {
        text-align: center;
      }
    }
    @media (min-width: $tablet-breakpoint) {
      @include set-max-width(815px);
      @include flex(flex-start, stretch, $wrap: nowrap);
      width: 100%;
      > * {
        @include flexchild(1, null, null);
        text-align: center;
        display: block;
        padding: 10px;
        max-width: 245px;
        &:nth-child(odd) {
          background: $li-cells;
        }
        &:not(:last-child) {
          border-right: 1px solid gray;
        }
      }
      &:nth-child(odd) {
        background: $li-rows;
      }
      &:not(:last-child) {
        border-bottom: none;
      }
    }
  }
  .desktop-labels {
    @media (max-width: $tablet-breakpoint - 1) {
      display: none;
    }
  }
  .mobile-label {
    font-size: .7em;
    //&:after {
    //  content: ':';
    padding: 0 0.25em 0 0;
    //}
    @media (min-width: $tablet-breakpoint) {
      display: none !important;
    }
  }
  .name {
    text-align: left;
    max-width: 100px;
  }
  .floor {
    width:100%;
    @media (min-width: $tablet-breakpoint) {
      max-width: 190px;
      &:not(.label) {
        text-align: left
      }
    }
  }
  .beds, .baths {
    max-width: 70px;
    &.label {
      padding-left: 0;
      padding-right: 0;
    }
    @media (max-width: $tablet-breakpoint - 1) {
      margin-right: .5em;
    }
  }
  .min-rent {
  }
  .max-rent {
  }
  .apply {
    text-align: center;
    min-width: 135px;
    &.label {
      background: none !important;
    }
    @media (max-width: $tablet-breakpoint - 1) {
      width: 100%;
      margin-top: 10px;
    }
  }
  button, a[role='button'] {
    display: inline-block;
    margin: 0 auto;
    font-size: .75em;
    &:hover {
      background: rgba(#000, .2)
    }
  }
}