.apartments {
  @include flex($direction: column);
  > li {
    @extend %boxw;
    @include flex(flex-start, stretch);
    width: 100%;
    > * {
      @include flexchild(1, null, null);
      text-align: center;
      display: block;
      padding: 10px;
      max-width: 245px;
    }
    &:nth-child(odd) {
      background: #999CBF;
      > *:nth-child(even) {
        background: rgba(white, .30);
      }
    }
    &:nth-child(even) {
      background:#99bfa3;
      > *:nth-child(even) {
        background: rgba(white, .30);
      }
    }

  }
  .name {
    text-align: left;
    max-width: 100px;
  }
  .floor {
    &:not(.label) {
      text-align: left
    }
  }
  .beds {
    max-width: 70px;
  }
  .baths {
    max-width: 70px;
  }
  .min-rent {
  }
  .max-rent {
  }
  .apply-link {
  }
  //@extend %ul-nostyle;
}